
<div class="container">
    

<% @products.each do |product| %>   
<div class="product">
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
            <%= image_tag product.image.url(:large), class: "product-image" %>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h3 class="product-title"><%= product.title %></h3>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
            <p class="price">
                <span class="product-price"><%= number_to_currency(product.price, unit: "") %> DH</span>
            </p>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-4">
            <%= image_tag product.commerce.logo.url(:large), class: "product-commerce-logo" %>
        </div>
    </div>
</div> 
<% end %>  

</div>


        <section id="contact" class="footer_widget">
            <div class="container">
                <div class="row">
                    <div class="main_widget">


                        <div class="row">

                            <div class="col-sm-4  col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <h4 class="footer_title">CONTACT</h4>
                                    <div class="separator4"></div>
                                    <ul>
                                        <li><a href=""><i class="fa fa-envelope"></i> info@kusele.com</a></li>
                                        <li><a href=""><i class="fa fa-phone"></i> 0123 456 789 0112</a></li>
                                        <li><a href=""><i class="fa fa-map-marker"></i> Greenplatz Ben 29, Germany 60435</a></li>
                                        <li><a href=""><i class="fa fa-fax"></i> (0012) 654 356 445</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <h4 class="footer_title">Latest News</h4>
                                    <div class="separator4"></div>

                                    <div class="footer_gellary" style="margin-top: 40px">
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                        <%= image_tag "logo.png", class: "logo" %> 
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-xs-12">
                                <div class="single_widget wow fadeIn" data-wow-duration="800ms">
                                    <div class="footer_logo">
                                        <%= image_tag "logo.png", class: "logo" %> 
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in egestas lectus. 
                                        Etiam tempor odio tellus, at bibendum neque faucibus quis. Sed vel facilisis elit. </p>
                                    <p>Nullam fringilla pharetra diam non accumsan. Morbi eget aliquam mauris. 
                                        Etiam vehicula efficitur mi.</p>


                                    <a class="weblink" href="">www.kusele.com</a>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </section>

